html, body {
  background: linear-gradient(#0838e7, #6b75d8);
  background-repeat: no-repeat;
}

html {
  background-attachment: fixed;
}

body {
  background-attachment: fixed;
  color: #fde61b;
  font-family: "Galindo", sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: #efac39;
  -webkit-text-stroke-width: 0.5px;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

header {
  padding: 15px;
}

main {
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin: 0;
  padding: 0;
}

form, aside {
  background-color: rgb(165, 73, 42);
  border-radius: 15px;
  border-style: inset;
  box-shadow: inset 0 0 20px rgb(232, 194, 144), inset 0 0 20px rgb(232, 194, 144), inset 0 0 20px rgb(232, 194, 144), inset 0 0 20px rgb(232, 194, 144);
  margin: 30px auto;
  padding: 30px 15px;
  width: 85%;
}

.modal-overlay {
  display: none;
}

.modal {
  display: none;
}

.modal-reveal .modal-overlay {
  display: block;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}
.modal-reveal .modal {
  background-color: #0838e7;
  border: 5px solid #fde61b;
  border-radius: 15px;
  display: table;
  padding: 30px;
  position: fixed;
  left: 15px;
  right: 15px;
  animation: zoom-in 0.5s forwards;
  margin: auto;
  max-width: 400px;
  transform: translateY(-50%);
  top: 50%;
  bottom: 50%;
}
.modal-reveal .modal input {
  opacity: 1;
  pointer-events: auto;
}

.word-block {
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  border: 2px solid #000;
  color: #000;
  font-family: "Lexend", sans-serif;
  font-size: 40px;
  height: 50px;
  margin: 5px;
  width: 50px;
  text-align: center;
  text-transform: capitalize;
  -webkit-text-stroke: none;
  -webkit-text-stroke-width: 0;
}

#wordSpace .letter-row {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
#wordSpace .letter-row input {
  caret-color: transparent;
  cursor: pointer;
}
#wordSpace .letter-row input::-moz-selection {
  background: rgb(199, 219, 225);
}
#wordSpace .letter-row input:focus, #wordSpace .letter-row input::selection {
  background: rgb(199, 219, 225);
}
#wordSpace .letter-row input.invalid {
  background: rgb(212, 109, 109);
  animation: shake 0.5s;
}
#wordSpace .letter-row input.invalid::-moz-selection {
  background: rgb(212, 109, 109);
}
#wordSpace .letter-row input.invalid::selection {
  background: rgb(212, 109, 109);
}
#wordSpace #submit {
  margin-top: 0;
}
#wordSpace p {
  opacity: 0;
}
#wordSpace .loading {
  opacity: 1;
}

#guessed-words section {
  display: flex;
  font-size: 35px;
  justify-content: center;
  text-transform: capitalize;
}
#guessed-words section:first-of-type {
  margin-top: 15px;
}
#guessed-words div {
  width: 55px;
}
#guessed-words div.present {
  background-color: rgb(255, 255, 143);
}
#guessed-words div.match {
  background-color: rgb(159, 244, 159);
}

input[type=button] {
  cursor: pointer;
  display: inline-block;
  background-color: #fde61b;
  border-radius: 12px;
  font-family: "Chewy", system-ui;
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-top: 10px;
  opacity: 0;
  padding: 10px 20px;
  pointer-events: none;
  -webkit-text-stroke: none;
  -webkit-text-stroke-width: 0;
}
input[type=button].show {
  opacity: 1;
  pointer-events: auto;
}
input[type=button].show::-moz-selection {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
input[type=button].show:hover, input[type=button].show:focus, input[type=button].show::selection {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 767px) {
  form, aside {
    max-width: 650px;
  }
}
@media screen and (min-width: 992px) {
  main {
    display: flex;
    justify-content: center;
    max-width: 800px;
  }
  form, aside {
    flex: 0 0 50%;
    height: -moz-fit-content;
    height: fit-content;
    width: 50%;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  main {
    max-width: 1050px;
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes zoom-in {
  0% {
    transform: scale(0.25, 0.25);
  }
  100% {
    transform: scale(1, 1);
  }
}/*# sourceMappingURL=style.css.map */