html, body {
  background: linear-gradient(#0838e7, #6b75d8);
  background-repeat: no-repeat;
}

html {
  background-attachment: fixed;
}

body {
  background-attachment: fixed;
  color: #fde61b;
  font-family: "Galindo", sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  width: 100vw;
  margin: 0;
  padding: 5px;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: #efac39;
  -webkit-text-stroke-width: 0.5px;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

header {
  display: none;
  margin: 0;
  padding: 15px;
}

h1 {
  margin: 0;
}

.modal-overlay {
  display: none;
}

.modal {
  display: none;
}

main {
  pointer-events: none;
  opacity: 0;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}
main.game-ready {
  pointer-events: all;
  opacity: 1;
}

#layout {
  width: 95%;
}

h2 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.load-message {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  align-content: center;
}
.load-message.loading {
  display: block;
}
.load-message.loading span:nth-of-type(1) {
  animation: loadAnimation 1.5s infinite 0.25s;
  display: inline-block;
}
.load-message.loading span:nth-of-type(2) {
  animation: loadAnimation 1.5s infinite 0.35s;
  display: inline-block;
}
.load-message.loading span:nth-of-type(3) {
  animation: loadAnimation 1.5s infinite 0.45s;
  display: inline-block;
}

#wordSpace, #guessed-words {
  background-color: rgb(165, 73, 42);
  border-radius: 15px;
  border-style: inset;
  box-shadow: inset 0 0 20px rgb(232, 194, 144), inset 0 0 20px rgb(232, 194, 144), inset 0 0 20px rgb(232, 194, 144), inset 0 0 20px rgb(232, 194, 144);
  margin: 0 auto;
  padding: 15px;
}
#wordSpace .word-block, #guessed-words .word-block {
  font-size: 25px;
}

#guessed-words {
  height: 310px;
  margin-top: 5px;
}

#keyboard {
  margin-top: 5px;
}
#keyboard .word-block {
  cursor: pointer;
  margin: 1px;
}
#keyboard .keyboard-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#keyboard #backSpace {
  padding: 0 5px;
  width: auto;
}

#reset {
  display: inline-block;
}

.modal-reveal .modal-overlay {
  display: block;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}
.modal-reveal .modal {
  background-color: #0838e7;
  border: 5px solid #fde61b;
  border-radius: 15px;
  display: table;
  padding: 30px;
  position: fixed;
  left: 15px;
  right: 15px;
  animation: zoom-in 0.5s forwards;
  margin: auto;
  max-width: 400px;
  transform: translateY(-50%);
  top: 50%;
  bottom: 50%;
}
.modal-reveal .modal input {
  opacity: 1;
  pointer-events: auto;
}

.word-block {
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  border: 2px solid #000;
  color: #000;
  font-family: "Lexend", sans-serif;
  font-size: 20px;
  height: 30px;
  margin: 5px;
  padding: 0;
  width: 30px;
  text-align: center;
  text-transform: capitalize;
  -webkit-text-stroke: none;
  -webkit-text-stroke-width: 0;
}

#wordSpace .letter-row {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
#wordSpace #submit {
  margin-top: 0;
}

#guessed-words section, #keyboard section {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}
#guessed-words section:first-of-type, #keyboard section:first-of-type {
  margin-top: 15px;
}
#guessed-words .word-block.missing, #keyboard .word-block.missing {
  background-color: rgb(100, 100, 100);
}
#guessed-words .word-block.present, #keyboard .word-block.present {
  background-color: rgb(255, 255, 143);
}
#guessed-words .word-block.match, #keyboard .word-block.match {
  background-color: rgb(159, 244, 159);
}

input[type=button] {
  cursor: pointer;
  display: none;
  background-color: #fde61b;
  border-radius: 12px;
  font-family: "Chewy", system-ui;
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-top: 10px;
  padding: 10px 20px;
  pointer-events: none;
  -webkit-text-stroke: none;
  -webkit-text-stroke-width: 0;
}
input[type=button].show {
  display: inline-block;
  pointer-events: auto;
}
input[type=button].show::-moz-selection {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
input[type=button].show:hover, input[type=button].show:focus, input[type=button].show::selection {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

#inputField {
  height: 60px;
}
#inputField h6 {
  display: none;
  margin-top: 15px;
}
#inputField h6.loading {
  display: block;
}
#inputField h6.loading span:nth-of-type(1) {
  animation: loadAnimation 1.5s infinite 0.25s;
  display: inline-block;
}
#inputField h6.loading span:nth-of-type(2) {
  animation: loadAnimation 1.5s infinite 0.35s;
  display: inline-block;
}
#inputField h6.loading span:nth-of-type(3) {
  animation: loadAnimation 1.5s infinite 0.45s;
  display: inline-block;
}

@media screen and (min-width: 576px) {
  #layout, #keyboard {
    width: 450px;
  }
  #guessed-words {
    height: 375px;
  }
  .word-block {
    height: 40px;
    width: 40px;
  }
  #layout .word-block {
    font-size: 30px;
  }
  #keyboard .word-block {
    font-size: 25px;
  }
  #keyboard #backSpace {
    font-size: 20px;
  }
}
@media screen and (min-width: 767px) {
  #layout, #keyboard {
    width: 650px;
  }
  #guessed-words {
    height: 500px;
  }
  .word-block {
    height: 60px;
    width: 60px;
  }
  #layout .word-block {
    font-size: 45px;
  }
  #keyboard .word-block {
    font-size: 35px;
  }
  #keyboard #backSpace {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  header {
    display: block;
  }
  #layout {
    display: flex;
    justify-content: center;
    max-width: 800px;
  }
  #wordSpace, #guessed-words {
    flex: 0 0 50%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 500px;
    width: 50%;
    margin: 0 15px 15px;
  }
  #wordSpace {
    align-content: center;
  }
  #keyboard {
    display: block;
    justify-content: center;
    max-width: 800px;
  }
}
@media screen and (min-width: 1200px) {
  #layout, #keyboard {
    max-width: 1050px;
  }
}
@keyframes zoom-in {
  0% {
    transform: scale(0.25, 0.25);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes loadAnimation {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(0, -5px);
  }
  80% {
    transform: translate(0, 0);
  }
}/*# sourceMappingURL=style.css.map */