body {
  background: linear-gradient(#0838e7, #6b75d8);
  color: #fde61b;
  font-family: "Galindo", sans-serif;
  font-size: 25px;
  height: 100vh;
  letter-spacing: 2px;
  width: 100vw;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: #efac39;
  -webkit-text-stroke-width: 1px;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.message {
  height: 50px;
  margin: 0;
}

.word-block {
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  border: 2px solid #000;
  color: #000;
  font-family: "Lexend", sans-serif;
  font-size: 40px;
  height: 50px;
  margin: 5px;
  width: 50px;
  text-align: center;
  text-transform: capitalize;
  -webkit-text-stroke: none;
  -webkit-text-stroke-width: 0;
}

#wordSpace {
    .letter-row {
        display: flex;
        justify-content: center;

        input {
            caret-color: transparent;
            cursor: pointer;

            &:focus, &::selection {
              background: rgb(199, 219, 225);
            }

            &.invalid {
              background: rgb(212, 109, 109);
              animation: shake 0.5s;
              
              &::selection {
                background: rgb(212, 109, 109);
              }
            }
        }
    }
}

#guessed-words {
  section {
    display: flex;
    font-size: 35px;
    justify-content: center;
    text-transform: capitalize;
  }

  div {
    &.present {
      background-color: rgb(255, 255, 143);
    }

    &.match {
      background-color: rgb(159, 244, 159);
    }
  }
}

input[type=button] {
  cursor: pointer;
  display: none;

  &.show {
    background-color: #fde61b;
    border-radius: 12px;
    display: inline-block;
    font-family: "Chewy", system-ui;
    font-size: 20px;
    letter-spacing: .5px;
    margin-top: 20px;
    padding: 10px 20px;
    transition: .3s;
    -webkit-text-stroke: none;
    -webkit-text-stroke-width: 0;

    &:hover, &:focus, &::selection {
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    }
  }
}

@media screen and (min-width: 992px) {
  main {
    display: flex;
  }

  form, aside {
    flex: 0 0 50%;
    width: 50%;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}