$gold: #fde61b;
$dark-blue: #0838e7;
$light-blue: #6b75d8;

html, body {
  background: linear-gradient($dark-blue, $light-blue);
  background-repeat: no-repeat;
}

html {
  background-attachment: fixed;
}

body {
  background-attachment: fixed;
  color: $gold;
  font-family: "Galindo", sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: #efac39;
  -webkit-text-stroke-width: .5px;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

header {
  padding: 15px;
}

main {
  pointer-events: none;
  opacity: 0;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;

  &.game-ready {
    pointer-events: all;
    opacity: 1;
  }
}

h2 {
  margin: 0;
  padding: 0;
}

.load-message {
  &.loaded {
    display: none;
  }
}

form, aside {
  background-color: rgb(165, 73, 42);
  border-radius: 15px;
  border-style: inset;
  box-shadow: inset 0 0 20px rgb(232, 194, 144), inset 0 0 20px rgb(232, 194, 144), inset 0 0 20px rgb(232, 194, 144), inset 0 0 20px rgb(232, 194, 144);
  margin: 30px auto;
  padding: 30px 15px;
  width: 85%;
}

.modal-overlay {
  display: none;
}

.modal {
  display: none;
}

.modal-reveal {
  .modal-overlay {
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
  }
  
  .modal {
    background-color: $dark-blue;
    border: 5px solid $gold;
    border-radius: 15px;
    display: table;
    padding: 30px;
    position: fixed;
    left: 15px;
    right: 15px;
    animation: zoom-in 0.5s forwards;
    margin: auto;
    max-width: 400px;
    transform: translateY(-50%);
    top: 50%;
    bottom: 50%;

    input {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.word-block {
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  border: 2px solid #000;
  color: #000;
  font-family: "Lexend", sans-serif;
  font-size: 40px;
  height: 50px;
  margin: 5px;
  width: 50px;
  text-align: center;
  text-transform: capitalize;
  -webkit-text-stroke: none;
  -webkit-text-stroke-width: 0;
}

#wordSpace {
    .letter-row {
        display: flex;
        justify-content: center;
        margin-top: 15px;

        input {
            caret-color: transparent;
            cursor: pointer;

            &:focus, &::selection {
              background: rgb(199, 219, 225);
            }

            &.invalid {
              background: rgb(212, 109, 109);
              animation: shake 0.5s;
              
              &::selection {
                background: rgb(212, 109, 109);
              }
            }
        }
    }

    #submit {
      margin-top: 0;
    }

    p {
      opacity: 0;
    }

    .loading {
      opacity: 1;
    }
}

#guessed-words {
  section {
    display: flex;
    font-size: 35px;
    justify-content: center;
    text-transform: capitalize;

    &:first-of-type {
      margin-top: 15px;
    }
  }

  div {
    width: 55px;

    &.present {
      background-color: rgb(255, 255, 143);
    }

    &.match {
      background-color: rgb(159, 244, 159);
    }
  }
}

input[type=button] {
  cursor: pointer;
  display: inline-block;
  background-color: $gold;
  border-radius: 12px;
  font-family: "Chewy", system-ui;
  font-size: 20px;
  letter-spacing: .5px;
  margin-top: 10px;
  opacity: 0;
  padding: 10px 20px;
  pointer-events: none;
  -webkit-text-stroke: none;
  -webkit-text-stroke-width: 0;

  &.show {
    opacity: 1;
    pointer-events: auto;

    &:hover, &:focus, &::selection {
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    }
  }
}

@media screen and (min-width: 767px) {
  form, aside {
    max-width: 650px;
  }
}

@media screen and (min-width: 992px) {
  main {
    display: flex;
    justify-content: center;
    max-width: 800px;
  }

  form, aside {
    flex: 0 0 50%;
    height: fit-content;
    width: 50%;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1050px;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes zoom-in {
  0% {
    transform: scale(.25, .25);
  }
  100% {
    transform: scale(1, 1);
  }
}
